.a-wrapper{
    margin: 0;
    height: 150vh;
    width: 100vw;
    background: rgb(22, 22, 22);
    .a-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 2em;
        // background: red;
        .a-title{
            h1{
                font-size: 7.5em;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                color: rgb(255, 247, 140);
            }
        }
        .a-parallax-wrapper{
            // display: flex;
            // border: 2px solid black;
            background: rgb(253, 35, 35);
            height: 100vh;
            width: 100%;
            position: relative;
            .a-parallax{
                width: auto;
                height: 50vh;
                // border: 2px solid white;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                h2{
                    color: rgb(255, 237, 227);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 3.8em;
                    margin-left: .1em;
                }
                img{
                    cursor: pointer;
                    border-radius: 2px;
                }
                &:nth-of-type(1){
                    position: absolute;
                    top: 12%;
                    left: 10%;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        height: 100%;
                        width: auto;
                        box-shadow: 1px -1px 10px -2px black;
                        // object-fit: contain;
                    }
                }
                &:nth-of-type(2){
                    position: absolute;
                    top: 40%;
                    right: 8%;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        height: 100%;
                        width: auto;
                        box-shadow: 1px -1px 10px -2px black;
                        // object-fit: contain;
                    }
                }
                &:nth-of-type(3){
                    position: absolute;
                    top: 100%;
                    left: 10%;
                    margin-left: auto;
                    margin-right: auto;
                    img{
                        height: 100%;
                        width: auto;
                        box-shadow: 1px -1px 10px -2px black;
                        // object-fit: contain;
                    }
                }
            }
        }
    }
}