@font-face {
    font-family: "Foerte";
    src: url("../fonts/Foerte.ttf");
}

.d-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #e83b3b;
    .d-container {
        // border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        .d-image {
            // border: 2px solid black;
            height: 10vh;
            position: absolute;
            top: 2%;
            left: 2%;
            img {
                height: 100%;
                width: auto;
            }
        }
        .d-hero {
            height: 70vh;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            img {
                height: 100%;
                width: auto;
                border-radius: 4px;
                box-shadow: 0px -3px 12px 1px rgba(0, 0, 0, 0.377);
            }
            
        }

        .d-title {
            position: absolute;
            top: 40%;
            left: 22%;
            transform: translate3d(-50%, -50%, 0);
            // border: 2px solid black;
            h1 {
                font-family: Foerte;
                color: #faf6ea;
                font-size: 6em;
                white-space: nowrap;
                text-align: end;
                margin-bottom: .5em;
            }
            p {
                color: rgb(27, 27, 27);
                text-align: end;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                margin-right: 6em;
                font-size: 1.1em;
            }
        }
        .d-call {
            position: absolute;
            bottom: 0;
            h1 {
                font-family: Foerte;
                color: #faf6ea;
                font-size: 10em;
            }
        }
    }
}
