@font-face {
    font-family: "Foerte";
    src: url("../fonts/Foerte.ttf");
}

.s-wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: #e83b3b;
    padding: 0.6em;
    .s-conatiner {
        position: relative;
        background: #faf6ea;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .s-header {
            // border: 2px solid black;
            height: 12vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .s-header-img {
                width: auto;
                height: 70%;
                margin-left: 2em;
                // border: 2px solid red;
                img {
                    width: auto;
                    height: 100%;
                }
            }
            .s-header-links {
                // border:  2px solid red;
                display: flex;
                width: auto;
                justify-content: space-between;
                align-items: center;
                p {
                    font-family: Foerte;
                    font-size: 1.2em;
                    color: #e83b3b;
                    margin: 0 1.6em;
                }
            }
        }
        .s-hero {
            position: absolute;
            height: 60vh;
            top: 50%;
            left: 50%;
            // border: 2px solid red;
            transform: translate3d(-50%, -50%, 0);
            img {
                height: 100%;
                width: auto;
                // border-radius: 4px;
                box-shadow: 1px -1px 10px -2px rgba(0, 0, 0, 0.377);
            }
            .s-hero-text {
                position: absolute;
                top: 20%;
                left: -50%;
                transform: translate3d(-50%, -50%, 0);
                text-align: left;
                h1 {
                    font-family: Foerte;
                    font-size: 6.25em;
                    color: #e83b3b;
                }
                p {
                    font-size: 1.4em;
                    width: 70%;
                    mix-blend-mode: difference;
                    color: rgb(27, 27, 27);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
            }
        }
        .s-links{
            display: flex;
            flex-direction: column;
            // border: 2px solid red;
            width: auto;
            position: absolute;
            bottom: 1em;
            right: 1em;
            li{
                list-style: none;
                color: #e83b3b;
                font-size: 1.5em;
                margin: 10px 0;
            }
        }
        button{
            background: rgb(27, 27, 27);
            border: none;
            color: #faf6ea;
            font-size: 1.4em;
            border-radius: 3px;
            padding: .5em 2.5em;
            font-family: Foerte;
            box-shadow: 1px 1px 10px -4px rgba(0, 0, 0, 0.678);
            // width: 30%;
            // margin: 1em;
            position: absolute;
            top: 50%;
            text-transform: uppercase;
            right: 2em;
            transform-style: preserve-3d;
            // z-index: 1000;
            &::before{
                content: "";
                background: red;
                width: 100%;
                height: 3px;
                position: absolute;
                // z-index: -10;
                left: 0;
                bottom: -5px;
                transform: translateZ(-1px);
            }
        }
    }
}
