@font-face {
    font-family: "Foerte";
    src: url("../fonts/Foerte.ttf");
  }

.t-wrapper {
    margin: 0;
    max-width: 100vw;
    position: relative;
    height: 100vh;
    background: rgb(255, 246, 242);
    overflow-x: hidden;
    overflow: hidden;
    // border: 2px solid red;
    .t-bg{
        position: fixed;
        top: -50%;
        left: -50%;
        bottom: -50%;
        right: -50%;
        width: 200%;
        height: 200vh;
        background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
        background-repeat: repeat;
        animation: bg-animation .2s infinite;
        opacity: .9;
        visibility: visible;
    }
    .t-logo{
        height: 15%;
        margin: 1em;
        // border: 2px solid black;
        position: absolute;
        img{
            height: 100%;
            width: auto;
        }
    }
    .t-container {
        // border: 2px solid black;
        height: 100%;
        margin: 0;
        .t-links{
            // border: 2px solid red;
            position: absolute;
            bottom: 5%;
            right: 2%;
            display: flex;
            width: 50px;
            align-items: center;
            flex-direction: column;
            li{
                list-style: none;
                margin: 6px 0;
                color: rgb(255, 67, 67);
                font-size: 1.4em;
            }
        }
        .t-image {
            // border: 2px solid red;
            height: 70vh;
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            img {
                width: auto;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }
        h1{
            color: rgb(255, 67, 67);
            position: absolute;
            width: 100%;
            top: 45%;
            left: 50%;
            font-size: 15.1vw;
            text-transform: uppercase;
            white-space: nowrap;
            transform: translate3d(-50%,-50%,0);
            // border: 2px solid red;
            text-align: center;
            font-family: "Foerte";
            transition: .2s linear all;
            &:hover{
                color: transparent;
                -webkit-text-stroke: 3px;
                -webkit-text-stroke-color: rgb(26, 26, 26);
            }
        }
    }
}

@keyframes bg-animation {
    0%{
        transform: translate(0,0);
    }
    10%{
        transform: translate(-5%,-5%);
    }
    20%{
        transform: translate(-10%,5%);
    }
    30%{
        transform: translate(5%,10%);
    }
    40%{
        transform: translate(-5%,15%);
    }
    50%{
        transform: translate(0,0);
    }
    60%{
        transform: translate(15%,0);
    }
    70%{
        transform: translate(0,10%);
    }
    80%{
        transform: translate(-15%,0);
    }
    90%{
        transform: translate(10%,5%);
    }
    100%{
        transform: translate(5%,0);
    }
}
