@font-face {
    font-family: "Foerte";
    src: url("../fonts/Foerte.ttf");
}

@font-face {
    font-family: "Mada B";
    src: url("../fonts/Mada-Bold.ttf");
}

@font-face {
    font-family: "Mada L";
    src: url("../fonts/Mada-Light.ttf");
}

@font-face {
    font-family: "Mada";
    src: url("../fonts/Mada-Regular.ttf");
}

.u-wrapper {
    // height: 80vh;
    width: 100vw;
    background: #f7f7f7;
    .u-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .u-title{
            background: #FFD166;
            padding: 2em;
            margin: 1em;
            border-radius: 2px;
            h1{
                color: #0C120C;
                font-size: 3em;
                font-family: Mada B;
                .u-by{
                    color: #0C120C;
                    font-size: .32em;
                    font-family: Mada L;
                }
                span{
                    color: #fc162d;
                    font-family: Foerte;
                    font-size: .6em;
                }
            }
        }
        .u-video{
            div{
                width: 1020px !important;
                height: 600px !important;
                iframe{
                    border: 4px solid #FFD166;
                    border-radius: 2px;
                    box-shadow: 1px 3px 6px -1px #0c120c98;
                }
            }
        }
        .u-search{
            margin: 1.2em;
            // border: 2px solid red;
            width: 50%;
            padding: .7em;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                width: 75%;
                padding: 10px 6px;
                margin: .4em 0;
                box-shadow: 1px 1px 6px -4px rgba(0, 0, 0, 0.815);
                border-radius: 2px;
                border: .2px solid #0C120C;
                background: white;
                font-size: 1em;
                font-family: Mada L;
            }
            button{
                width: 20%;
                padding: 10px;
                box-shadow: 1px 1px 6px -4px rgba(0, 0, 0, 0.815);
                border-radius: 2px;
                color: white;
                background: #fc162d;
                font-size: 1em;
                font-family: Mada B;
                // border: .2px solid #0C120C;
                border: none;
            }
        }
        .u-container-chat{

        }
    }
}
